%table.table.table-condensed
  %thead
    %tr
      %th= t('shared.quizz')
      %th= t('shared.action')

  %tbody
    - @quizzes.each do |quizz|
      %tr
        %td
          %h4
            = quizz.title
          %p
            = quizz.description
        %td
          = link_to quizz, { title: t('shared.edit')} do
            %button.btn.btn-info
              = fa_icon "search"
          = link_to  edit_quizz_path(quizz), { title: t('shared.back')} do
            %button.btn.btn-info
              = fa_icon "edit"
          = link_to quizz, { title: t('shared.destroy'), :method => :delete } do
            %button.btn.btn-info
              = fa_icon "times"
