.jumbotron
  %p#notice= notice

  %p
    %b #{t('shared.title')}:
    %br= @quizz.title
  %p
    %b #{t('shared.description')}:
    %br= @quizz.description
.btn-group{role: :group}
  = link_to t('shared.back'), quizzes_path, class: 'btn btn-info'
  = link_to t('shared.edit'), edit_quizz_path(@quizz), class: 'btn btn-info'
  = link_to t('shared.destroy'), @quizz, :method => :delete, class: 'btn btn-info'
