= simple_form_for(@answer) do |f|
  = f.error_notification

  .form-inputs
    = f.input :answer
    = f.input :correct
    = f.association :question, collection: Question.all

  .form-actions
    = f.button :submit
